<script>
  import SubscribeForm from "../components/SubscribeForm.svelte";

  import LandingTitle from "../components/LandingTitle.svelte";

  import FirstSVG from "../components/svg/good_team.svelte";
  import SecondSVG from "../components/svg/connected_world.svelte";
  import ThirdSVG from "../components/svg/group_chat.svelte";
  import typewriter from "../animations/typewriter";

  let showPage = true;

  //TODO add cookie to now show the intro always
</script>

<style>

</style>

<svelte:head>
  <title>Enxebre Wines</title>

</svelte:head>

<!-- <section class="container mx-auto px-6 p-10 text-center">
  <h4 class="text-4xl text-gray-800 font-bold mb-3">
    We are on the making, we can let you know when is ready
  </h4>
  <div class="flex">

    <input
      type="email"
      class="bg-white border-gray-500 w-2/3 px-4 mx-4 "
      placeholder="Enter your email" />
    <button
      class="bg-white font-bold py-4 px-8 shadow-lg uppercase tracking-wider
      w-1/3">
      Tell me when is ready
    </button>

  </div>

</section> -->

<!-- <section class="container mx-auto px-6 p-10 text-center">
  <h4 class="text-4xl text-gray-800 font-bold mb-3">
    We are on the making, we can let you know when is ready
  </h4>
  <div class="flex">

    <input
      type="email"
      class="bg-white border-gray-500 w-2/3 px-4 mx-4 "
      placeholder="Enter your email" />
    <button
      class="bg-white font-bold py-4 px-8 shadow-lg uppercase tracking-wider
      w-1/3">
      Tell me when is ready
    </button>

  </div>

</section> -->
<!-- <div
  class="py-20"
  style="background: linear-gradient(90deg, #667eea 0%, #764ba2 100%)">
  <div class="container mx-auto px-6">
    <h2 class="text-4xl font-bold mb-2 text-white">
      Smart Health Monitoring Wristwatch!
    </h2>
    <h3 class="text-2xl mb-8 text-gray-200">
      Monitor your health vitals smartly anywhere you go.
    </h3>
    <button
      class="bg-white font-bold rounded-full py-4 px-8 shadow-lg uppercase
      tracking-wider">
      Pre Order
    </button>
  </div>
</div> -->

<LandingTitle delayed={false} on:end={() => (showPage = true)} />

{#if showPage}
  <!-- <section id="vision" class="container mx-auto px-6 p-10 text-center">
    <h4 class="text-4xl text-gray-800 font-bold mb-3">Working together</h4>

    <div class="flex items-center flex-wrap mb-20">
      <div class="w-full my-4 lg:w-1/2 lg:px-4 lg:my-0">
        <p class="text-2xl text-gray-600 mb-8 text-left">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="w-full my-4 lg:w-1/2 lg:px-4 lg:my-0">
        <FirstSVG />

      </div>
    </div>

  </section> -->
  <!-- <section class="container mx-auto px-6 p-10 text-center">
     <h4 class="text-4xl text-gray-800 font-bold mb-3">Connecting the world</h4>

    <div class="flex items-center flex-wrap mb-20">
      <div class="w-full my-4 lg:w-1/2 lg:px-4 lg:my-0">
        <SecondSVG />

      </div>
      <div class="w-full my-4 lg:w-1/2 lg:px-4 lg:my-0">
        <p class="text-2xl text-gray-600 mb-8 text-left">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>

    </div>

  </section> -->
  <!--  <section class="container mx-auto px-6 p-10 text-center">
    <h4 class="text-4xl text-gray-800 font-bold mb-3">Bringing communities</h4>

    <div class="flex items-center flex-wrap mb-20">
      <div class="w-full my-4 lg:w-1/2 lg:px-4 lg:my-0">
        <p class="text-2xl text-gray-600 mb-8 text-left">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="w-full my-4 lg:w-1/2 lg:px-4 lg:my-0">
        <ThirdSVG />

      </div>
    </div>

  </section> -->
  <!-- <SubscribeForm /> -->

  <!-- <section class="">
    <div class="container mx-auto px-6 p-10 text-center">
      <h3 class="text-4xl text-gray-800 font-bold mb-12">Meet the team</h3>

      <div class="flex items-center flex-wrap mb-20">
        <div class="flex justify-center w-full my-4 lg:w-1/2 lg:px-4 lg:my-0">

          <img
            alt="Nathan"
            src="Nathan.jpg"
            class=" w-1/2 rounded-full shadow-lg" />
        </div>
        <div class="w-full my-4 lg:w-1/2 lg:px-4 lg:my-0">
          <h4 class="text-3xl mb-3">Nathan Towianski</h4>
          <p class="text-2xl mb-8 text-center">Something about nathan</p>
        </div>
      </div>
      <div class="flex items-center flex-wrap mb-20">
        <div class="flex justify-center w-full my-4 lg:w-1/2 lg:px-4 lg:my-0 ">

          <img
            alt="Josh"
            src="Josh.png"
            class=" w-1/2 rounded-full shadow-lg" />
        </div>
        <div class="w-full my-4 lg:w-1/2 lg:px-4 lg:my-0">
          <h4 class="text-3xl mb-3">Josh Vazquez</h4>
          <p class="text-2xl mb-8 text-center">
            I worked for the last few years shaping and developing products.
            Always wanted to do something to help others on a bigger scale. I am
            focused on adding value for the user and keeping things simple.
          </p>
        </div>
      </div>
    </div>
  </section> -->
{/if}

<!-- Features -->
<!-- <section class="container mx-auto px-6 p-10">
  <h2 class="text-4xl font-bold text-center text-gray-800 mb-8">Features</h2>
  <div class="flex items-center flex-wrap mb-20">
    <div class="w-full my-4 lg:w-1/2 lg:px-4 lg:my-0">
      <h4 class="text-3xl text-gray-800 font-bold mb-3">Exercise Metrics</h4>
      <p class="text-gray-600 mb-8">
        Our Smart Health Monitoring Wristwatch is able to capture you vitals
        while you exercise. You can create different category of exercises and
        can track your vitals on the go.
      </p>
    </div>
    <div class="w-full my-4 lg:w-1/2 lg:px-4 lg:my-0">
      <img
        src="https://www.dropbox.com/s/mimcvn6zxtoruis/health.svg?raw=1"
        alt="Monitoring" />
    </div>
  </div>
  <div class="flex items-center flex-wrap mb-20">
    <div class="w-full my-4 lg:w-1/2 lg:px-4 lg:my-0">
      <img
        src="https://www.dropbox.com/s/hllo2ueo8zgi2tt/report.svg?raw=1"
        alt="Reporting" />
    </div>
    <div class="w-full my-4 lg:w-1/2 lg:px-4 lg:my-0 pl-10">
      <h4 class="text-3xl text-gray-800 font-bold mb-3">Reporting</h4>
      <p class="text-gray-600 mb-8">
        Our Smart Health Monitoring Wristwatch can generate a comprehensive
        report on your vitals depending on your settings either daily, weekly,
        monthly, quarterly or yearly.
      </p>
    </div>
  </div>
  <div class="flex items-center flex-wrap mb-20">
    <div class="w-full my-4 lg:w-1/2 lg:px-4 lg:my-0">
      <h4 class="text-3xl text-gray-800 font-bold mb-3">Syncing</h4>
      <p class="text-gray-600 mb-8">
        Our Smart Health Monitoring Wristwatch allows you to sync data across
        all your mobile devices whether iOS, Android or Windows OS and also to
        your laptop whether MacOS, GNU/LInux or Windows OS.
      </p>
    </div>
    <div class="w-full my-4 lg:w-1/2 lg:px-4 lg:my-0">
      <img
        src="https://www.dropbox.com/s/v0x0ywlvgmw04z6/sync.svg?raw=1"
        alt="Syncing" />
    </div>
  </div>
</section> -->
<!-- Testimonials -->
<!-- <section class="bg-gray-100">
  <div class="container mx-auto px-6 py-20">
    <h2 class="text-4xl font-bold text-center text-gray-800 mb-8">
      Testimonials
    </h2>
    <div class="flex flex-wrap">
      <div class="w-full md:w-1/3 px-2 mb-4">
        <div class="bg-white rounded shadow py-2">
          <p class="text-gray-800 text-base px-6 mb-5">
            Monitoring and tracking my health vitals anywhere I go and on any
            platform I use has never been easier.
          </p>
          <p class="text-gray-500 text-xs md:text-sm px-6">John Doe</p>
        </div>
      </div>
      <div class="w-full md:w-1/3 px-2 mb-4">
        <div class="bg-white rounded shadow py-2">
          <p class="text-gray-800 text-base px-6 mb-5">
            As an Athlete, this is the perfect product for me. I wear my Smart
            Health Monitoring Wristwatch everywhere i go, even in the bathroom
            since it's waterproof.
          </p>
          <p class="text-gray-500 text-xs md:text-sm px-6">Jane Doe</p>
        </div>
      </div>
      <div class="w-full md:w-1/3 px-2 mb-4">
        <div class="bg-white rounded shadow py-2">
          <p class="text-gray-800 text-base px-6 mb-5">
            I don't regret buying this wearble gadget. One of the best gadgets I
            own!.
          </p>
          <p class="text-gray-500 text-xs md:text-sm px-6">James Doe</p>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!--Call to Action-->
<!-- <section style="background-color: #667eea">
  <div class="container mx-auto px-6 text-center py-20">
    <h2 class="mb-6 text-4xl font-bold text-center text-white">
      Limited in Stock
    </h2>
    <h3 class="my-4 text-2xl text-white">
      Get yourself the Smart Health Monitoring Wristwatch!
    </h3>
    <button
      class="bg-white font-bold rounded-full mt-6 py-4 px-8 shadow-lg uppercase
      tracking-wider">
      Pre Order
    </button>
  </div>
</section> -->
