<script>
  import { draw } from "svelte/transition";
  const inner = `M 50 10 A 40 40 0 1 0 50 90 A 40 40 0 1 0 50 10 Z M 50 30 A 20 20 0 1 1 50 70 A 20 20 0 1 1 50 30 Z`;
</script>

<style>
  svg {
    transform: rotate(-90deg);
  }
</style>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 102 102">
  <circle
    in:draw={{ duration: 2000 }}
    cx="50"
    cy="50"
    r="50"
    transform="translate(1 1)"
    fill="none"
    stroke-width="2" />
  <path
    in:draw={{ delay: 2000, duration: 1000 }}
    d="M124.365,428.418,141.7,445.325,170.972,415.5"
    transform="translate(481.079 -96.258) rotate(90)"
    fill="none"
    stroke-width="2" />
</svg>
