<svg
  data-name="Layer 1"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 1115.91385 832.5636">
  <title>good team</title>
  <line
    x1="389.95692"
    y1="255.2818"
    x2="533.95692"
    y2="255.2818"
    fill="none"
    stroke="#3f3d56"
    stroke-miterlimit="10"
    stroke-width="2" />
  <ellipse
    cx="248.8673"
    cy="443.49824"
    rx="39.5"
    ry="12.40027"
    transform="translate(-296.29734 483.90373) rotate(-69.08217)"
    fill="#2f2e41" />
  <path
    d="M1153.37778,543.01392c15.6657,116.58889-5.66624,233.30465-114.16871,278.75349S805.90441,816.10117,760.45558,707.5987s61.78473-173.424,114.16871-278.75349C981.00055,214.95244,1104.72832,180.94968,1153.37778,543.01392Z"
    transform="translate(-42.04308 -33.7182)"
    fill="#f2f2f2" />
  <ellipse cx="916" cy="794.4364" rx="170" ry="23.12721" fill="#3f3d56" />
  <rect
    x="858.75178"
    y="753.63241"
    width="24"
    height="43"
    transform="translate(313.59438 1787.2135) rotate(-105.45227)"
    fill="#2f2e41" />
  <ellipse
    cx="844.35943"
    cy="777.24047"
    rx="7.5"
    ry="20"
    transform="translate(-218.60626 219.34424) rotate(-15.45227)"
    fill="#2f2e41" />
  <ellipse
    cx="965.36129"
    cy="688.06892"
    rx="39.5"
    ry="12.40027"
    transform="translate(111.82337 1518.54826) rotate(-82.28111)"
    fill="#2f2e41" />
  <circle cx="915.58486" cy="728.29931" r="79" fill="#2f2e41" />
  <rect
    x="858.75178"
    y="739.63241"
    width="24"
    height="43"
    transform="translate(327.08832 1769.4834) rotate(-105.45227)"
    fill="#2f2e41" />
  <ellipse
    cx="844.35943"
    cy="763.24047"
    rx="7.5"
    ry="20"
    transform="translate(-214.87616 218.83818) rotate(-15.45227)"
    fill="#2f2e41" />
  <circle cx="936.32904" cy="683.0429" r="27" fill="#fff" />
  <circle cx="944.96335" cy="671.11583" r="9" fill="#3f3d56" />
  <path
    d="M1048.85766,816.30571c29.23451-1.46311,51.62459-28.80779,50.00965-61.07607s-26.62336-57.24079-55.85786-55.77768-33.822,24.41244-32.20709,56.68072S1019.62316,817.76882,1048.85766,816.30571Z"
    transform="translate(-42.04308 -33.7182)"
    fill="#6c63ff" />
  <path
    d="M925.34085,728.59207a18,18,0,0,1-2.90424-35.88266c9.90873-.802,12.611,7.06452,13.413,16.97325S935.24957,727.79008,925.34085,728.59207Z"
    transform="translate(-42.04308 -33.7182)"
    fill="#fff" />
  <polyline
    points="49.464 361.025 491.957 361.025 560.56 394.447 669.866 447.699
    741.334 313.887 943.574 313.887"
    fill="none"
    stroke="#3f3d56"
    stroke-miterlimit="10"
    stroke-width="2" />
  <circle cx="222.81141" cy="375.02535" r="13.68536" fill="#6c63ff" />
  <circle cx="350.54143" cy="361.02535" r="13.68536" fill="#6c63ff" />
  <circle cx="560.3836" cy="394.47845" r="13.68536" fill="#6c63ff" />
  <circle cx="855.37911" cy="313.88689" r="13.68536" fill="#6c63ff" />
  <circle cx="712.44314" cy="367.10773" r="13.68536" fill="#6c63ff" />
  <circle
    cx="427.57554"
    cy="581.44087"
    r="14.75556"
    fill="none"
    stroke="#3f3d56"
    stroke-miterlimit="10"
    stroke-width="2" />
  <ellipse cx="170" cy="809.4364" rx="170" ry="23.12721" fill="#3f3d56" />
  <circle cx="160.80455" cy="696.4364" r="79" fill="#2f2e41" />
  <rect x="124.80455" y="758.4364" width="24" height="43" fill="#2f2e41" />
  <rect x="172.80455" y="758.4364" width="24" height="43" fill="#2f2e41" />
  <ellipse cx="144.80455" cy="801.9364" rx="20" ry="7.5" fill="#2f2e41" />
  <ellipse cx="192.80455" cy="800.9364" rx="20" ry="7.5" fill="#2f2e41" />
  <circle cx="162.80455" cy="676.4364" r="27" fill="#fff" />
  <circle cx="162.80455" cy="676.4364" r="9" fill="#3f3d56" />
  <path
    d="M126.215,656.68687c-6.37889-28.56758,14.01185-57.43391,45.544-64.47476s62.2651,10.41,68.644,38.97759-14.51861,39.1038-46.05075,46.14465S132.59385,685.25445,126.215,656.68687Z"
    transform="translate(-42.04308 -33.7182)"
    fill="#6c63ff" />
  <circle cx="133.80455" cy="469.4364" r="79" fill="#2f2e41" />
  <rect x="97.80455" y="531.4364" width="24" height="43" fill="#2f2e41" />
  <rect x="145.80455" y="531.4364" width="24" height="43" fill="#2f2e41" />
  <ellipse cx="117.80455" cy="574.9364" rx="20" ry="7.5" fill="#2f2e41" />
  <ellipse cx="165.80455" cy="573.9364" rx="20" ry="7.5" fill="#2f2e41" />
  <circle cx="135.80455" cy="449.4364" r="27" fill="#fff" />
  <circle cx="135.80455" cy="449.4364" r="9" fill="#3f3d56" />
  <path
    d="M99.215,429.68687c-6.37889-28.56758,14.01185-57.43391,45.544-64.47476s62.2651,10.41,68.644,38.97759-14.51861,39.1038-46.05075,46.14465S105.59385,458.25445,99.215,429.68687Z"
    transform="translate(-42.04308 -33.7182)"
    fill="#6c63ff" />
  <ellipse
    cx="86.8673"
    cy="466.49824"
    rx="12.40027"
    ry="39.5"
    transform="translate(-413.89514 311.35892) rotate(-64.62574)"
    fill="#2f2e41" />
  <path
    d="M137.04308,531.65459c0,7.732,19.90861,23,42,23s42.80455-21.768,42.80455-29.5-20.71316,1.5-42.80455,1.5S137.04308,523.92261,137.04308,531.65459Z"
    transform="translate(-42.04308 -33.7182)"
    fill="#fff" />
  <rect
    x="835.47438"
    y="564.70968"
    width="126.12903"
    height="64.16129"
    fill="#6c63ff" />
  <rect
    x="825.60342"
    y="575.12903"
    width="126.12903"
    height="64.16129"
    fill="none"
    stroke="#3f3d56"
    stroke-miterlimit="10"
    stroke-width="2" />
  <rect x="226.60342" y="199" width="36" height="36" fill="#ff6584" />
  <rect
    x="217.60342"
    y="187"
    width="36"
    height="36"
    fill="none"
    stroke="#3f3d56"
    stroke-miterlimit="10"
    stroke-width="2" />
  <circle cx="906.05209" cy="189.47009" r="79" fill="#2f2e41" />
  <rect
    x="974.58547"
    y="279.57761"
    width="24"
    height="43"
    transform="matrix(-0.98401, 0.17813, -0.17813, -0.98401, 1968.98075,
    387.87775)"
    fill="#2f2e41" />
  <rect
    x="927.35317"
    y="288.12802"
    width="24"
    height="43"
    transform="translate(1876.79468 413.25547) rotate(169.73894)"
    fill="#2f2e41" />
  <ellipse
    cx="939.06461"
    cy="336.10285"
    rx="20"
    ry="7.5"
    transform="translate(-36.79955 652.79249) rotate(-40.26106)"
    fill="#2f2e41" />
  <ellipse
    cx="985.3129"
    cy="327.73058"
    rx="20"
    ry="7.5"
    transform="translate(-20.43292 680.69811) rotate(-40.26106)"
    fill="#2f2e41" />
  <circle cx="900.52141" cy="170.14623" r="27" fill="#fff" />
  <circle cx="889.4245" cy="160.46817" r="9" fill="#3f3d56" />
  <path
    d="M1010.41514,137.24473c1.188-29.247-24.01866-54.01935-56.30069-55.33066s-59.41488,21.335-60.60291,50.582,21.2521,35.89214,53.53414,37.20345S1009.22711,166.49171,1010.41514,137.24473Z"
    transform="translate(-42.04308 -33.7182)"
    fill="#6c63ff" />
  <ellipse
    cx="875.1496"
    cy="208.79579"
    rx="12.40027"
    ry="39.5"
    transform="translate(434.06107 981.45545) rotate(-77.0899)"
    fill="#2f2e41" />
  <ellipse
    cx="1030.22362"
    cy="234.58437"
    rx="12.40027"
    ry="39.5"
    transform="translate(529.35145 1152.63631) rotate(-77.0899)"
    fill="#2f2e41" />
  <path
    d="M969.79256,254.32118a18,18,0,1,1-35.42423,6.41281c-1.77085-9.78213,5.79238-13.24363,15.57451-15.01448S968.02171,244.53905,969.79256,254.32118Z"
    transform="translate(-42.04308 -33.7182)"
    fill="#fff" />
  <line
    x1="712.60342"
    y1="99"
    x2="803.60342"
    y2="169"
    fill="none"
    stroke="#3f3d56"
    stroke-miterlimit="10"
    stroke-width="2" />
  <circle cx="669.60342" cy="68" r="68" fill="#ff6584" />
  <ellipse
    cx="935.70955"
    cy="706.84021"
    rx="39.5"
    ry="12.40027"
    transform="translate(67.55305 1505.41525) rotate(-82.28111)"
    fill="#2f2e41" />
  <circle cx="68.81141" cy="786.02535" r="13.68536" fill="#6c63ff" />
  <rect x="256.60342" y="770" width="36" height="36" fill="#ff6584" />
  <circle cx="256.81141" cy="794.02535" r="13.68536" fill="#6c63ff" />
  <circle cx="461.95692" cy="255.02535" r="13.68536" fill="#6c63ff" />
  <circle cx="727.72056" cy="679.25214" r="6.53537" fill="#ff6584" />
  <line
    x1="759.73934"
    y1="787.72466"
    x2="759.73934"
    y2="713.31328"
    fill="#3f3d56"
    stroke="#3f3d56"
    stroke-miterlimit="10"
    stroke-width="2" />
  <circle cx="759.73934" cy="713.31328" r="10.52282" fill="#3f3d56" />
  <path
    d="M801.78241,792.89275s-1.50326-32.33193-32.32009-28.57378"
    transform="translate(-42.04308 -33.7182)"
    fill="#3f3d56" />
</svg>
