<footer class="flex flex-col md:flex-row text-center justify-center">
  <div class="p-8">
    <div class="flex flex-col items-center ">
      <h6 class="text-xl uppercase mb-2">Contacto</h6>
      <div class="">
        <p>
          <a
            href="https://goo.gl/maps/BWHmwDn3nFZscctz9a"
            target="_blank"
            rel="noopener noreferrer">
            Eirexe 2, San Pedro de Lincora
          </a>
          <br />
          <span>Chantada (27514), LU, Spain</span>
          <br />
          616186531
          <br />
          <a style="color: #ac9f71;" href="/visit/">Schedule Appointment</a>
        </p>
      </div>
    </div>
  </div>
  <div class="p-8 flex justify-center">

    <img
      class="bg-black"
      src="https://flaneurwines.com/wp-content/uploads/2018/06/Flaneur_Logo_350-300x145.jpg"
      alt=""
      width="300"
      height="145" />

  </div>
  <!-- <div class="p-8">
    <div class="">
      <h6 class="text-xl uppercase mb-2">Redes sociales</h6>
      <div class="">
        <div class="">
          <div class="">
            <p>
              <a
                href="https://www.facebook.com/xiribowines/"
                target="_blank"
                rel="noopener noreferrer">
                <i class=" icon-facebook3 small plain" />
              </a>
            </p>
          </div>
          <div class="">

            <p>
              <a href="https://www.instagram.com/xiribowines/" class="">
                <i
                  class="tatsu-icon tatsu-custom-icon tatsu-custom-icon-class
                  icon-social_instagram_circle small plain" />
              </a>
            </p>
          </div>
          <div class="">

            <p>
              <a
                href="https://twitter.com/XiriboWines"
                class="tatsu-icon-wrap plain "
                data-animation="fadeIn"
                data-animation-delay="0"
                target="_blank"
                rel="noopener noreferrer">
                <i
                  class="tatsu-icon tatsu-custom-icon tatsu-custom-icon-class
                  icon-social_twitter_circle small plain" />
              </a>
            </p>
          </div>
        </div>

        <div class="">
          <a class="" href="/mailing-list/">Join Mailing List</a>
          <p />

        </div>
      </div>
    </div>
  </div> -->
</footer>
<footer class="flex flex-col md:flex-row justify-between py-2 px-8 text-center">

  <div class="">
    <div class="">
      <em>© Xiribo Wines {new Date().getFullYear()}</em>
    </div>
  </div>

  <div class="">
    <div class="">
      <em>
        <a href="/trade-media/">Trade &amp; Media</a>
        <a href="/policies/">Policies</a>
        <a href="https://pragmma.tech">Site Credits</a>
      </em>
    </div>

  </div>
</footer>
