<script>
  import { createEventDispatcher } from "svelte";
  import { fade } from "svelte/transition";

  import LandingTitleWord from "./LandingTitleWord.svelte";
  import BlinkArrow from "./BlinkArrow.svelte";

  import { delay, scrollToTarget } from "../utils";
  export let delayed;
  const dispatch = createEventDispatcher();

  // let showShare = !delayed;
  // let showBuild = !delayed;
  // let showGrow = !delayed;
  // let showHeadLine = !delayed;
  // let showCallToAction = !delayed;
  if (delayed) {
    // delay(100)
    //   .then(() => {
    //     showShare = true;
    //     return delay(1000);
    //   })
    //   .then(() => {
    //     showBuild = true;
    //     return delay(1000);
    //   })
    //   .then(() => {
    //     showGrow = true;
    //     return delay(1000);
    //   })
    //   .then(() => {
    //     showHeadLine = true;
    //     return delay(1000);
    //   })
    //   .then(() => {
    //     showCallToAction = true;
    //     return delay(100);
    //   })
    //   .then(() => {
    //     dispatch("end");
    //   });
  } else {
    dispatch("end");
  }
</script>

<style>
  /* a:active {
    transform: scale(1.05);
  } */
  .phoneme {
    @apply flex;

    & span:not(:first-child)::before {
      @apply mx-2;

      content: "-";
    }
  }
  .taxonomy {
    & span:not(:first-child)::before {
      @apply mx-2;

      content: "·​";
    }
  }
  .text-shadow {
    text-shadow: 3px 3px 3px black;
  }
</style>

<div
  class="min-h-screen flex flex-col justify-center "
  style="background: linear-gradient(90deg, #667eea 0%, #764ba2 100%)">

  <video class="h-full w-full object-cover absolute" loop autoplay="" muted>
    <!-- <source
      src="https://dob3qj4mreqzz.cloudfront.net/Chamisal-hero-video.comp.mp4"
      type="video/mp4" /> -->
    <source
      src="https://www.flaneurwines.com/wp-content/uploads/2019/06/Flaneur-Website-Intro4-Opt.mp4"
      type="video/mp4" />
  </video>

  <div class="text-white flex flex-col z-10 pl-48 text-shadow">
    <div class="text-6xl font-serif">Enxebre</div>
    <div class="flex text-3xl">
      <div class="flex">
        <span>/</span>
        <div class="phoneme">
          <span>en</span>
          <span>ʃeːˈ</span>
          <span>bre</span>

        </div>
        <span>/</span>
      </div>
      <span class="mx-4">|</span>
      <div class="taxonomy">
        <span>en</span>
        <span>xe</span>
        <span>bre</span>
      </div>
    </div>

  </div>
  <div class="absolute flex justify-center bottom-0 left-0 right-0">
    <div class=" mb-2 text-white fill-current">
      <BlinkArrow />
    </div>
  </div>
  <!-- <div class="flex flex-col items-center text-center">
    <div class=" w-full flex flex-col justify-center ">
      {#if showShare}
        <LandingTitleWord>Collab.</LandingTitleWord>
      {/if}
      {#if showBuild}
        <LandingTitleWord>Create.</LandingTitleWord>
      {/if}
      {#if showGrow}
        <LandingTitleWord>Change.</LandingTitleWord>
      {/if}
    </div>
    <div class="h-32">
      {#if showHeadLine}
        <h3 in:fade class="text-xl md:text-2xl mb-8 text-gray-200">

          <div>Where the world creates and big ideas grow</div>
          <div>Talent is universal and evenly distributed</div>
          <div>Opportunities aren't, and we want</div>
          <div>to change that</div>
        </h3>
      {/if}
    </div>
    <div class="h-16 mt-2">
      {#if showCallToAction}
        <a
          href="#vision"
          on:click|preventDefault={scrollToTarget}
          class="bg-white font-bold rounded-full py-4 px-8 shadow-lg uppercase
          block outline-none tracking-wider">
          See how
        </a>
      {/if}
    </div>
    <div class="h-16">
      {#if showCallToAction}
        <BlinkArrow />
      {/if}
    </div>

  </div> -->

</div>
