<script>
  import { fade } from "svelte/transition";
  import SuccessSvg from "./svg/animated_success.svelte";

  let mode = 0;
  const help = [
    `I want to see this working`,
    `I want to bring a Community`,
    `I would like to help`
    // `I want to take a look`
  ];
  const call = ["Subscribe", "Bring community", `Start helping`];

  let email = { value: "", valid: false };
  let send = false;

  function handleSubmit() {
    console.log("handleSubmit", email);
    email = "";
    send = true;
    //todo send to analytics
  }
  let timeout;
  function checkValid(e) {
    clearTimeout(timeout);
    timeout = setTimeout(() => {
      email.valid = e.target.validity.valid;
    }, 300);
  }
</script>

<style>
  input[type="radio"]:checked + span {
    @apply bg-gray-300;
  }
  input[type="radio"]:hover + span {
    @apply bg-gray-400;
  }
  button:active {
    transform: scale(1.05);
  }
</style>

<section class="bg-indigo-100 py-24">
  <div class="container mx-auto px-6 p-10 text-center">
    <h4 class="text-4xl text-gray-800 font-bold mb-3">
      We still on the making and we need help to accomplish our vision
    </h4>
    <div class="my-8">
      {#if !send}
        <form on:submit|preventDefault={handleSubmit}>

          <div class=" flex justify-center">

            <div class="flex flex-col w-full lg:w-1/2 text-left">
              {#each help as option, i}
                <label class="my-2 text-base text-gray-800 bold">
                  <input
                    type="radio"
                    bind:group={mode}
                    value={i}
                    class="hidden" />
                  <span class="block p-4 cursor-pointer hover:bg-gray-400">
                    {option}
                  </span>
                </label>
              {/each}
            </div>

          </div>
          <div
            class="flex flex-col md:flex-row w-full md:justify-between
            md:items-center lg:w-1/2 m-auto">

            <input
              type="email"
              required
              bind:value={email.value}
              on:input={checkValid}
              class="bg-white border border-gray-500 p-4 my-4 h-12 outline-none
              md:w-1/2"
              placeholder="Enter your email" />

            <button
              type="submit"
              disabled={!email.valid}
              class="bg-primary text-white disabled:opacity-50 font-bold h-12
              px-8 uppercase focus:outline-none tracking-wider ">
              {call[mode]}
            </button>
          </div>
        </form>
      {:else}
        <div in:fade class="h-56 flex flex-col justify-center">
          <div>Thank you so much, we'll contact you as soon as possible</div>
          <div class="w-full flex justify-center">
            <div class="w-24 my-4 text-green-400 stroke-current">
              <SuccessSvg />
            </div>
          </div>
        </div>
      {/if}
    </div>

  </div>

</section>

<!-- <div class="w-full md:w-1/2 p-4 flex justify-center items-center">
          {#if mode == 0}
            <p>We let you know once when is ready</p>
          {/if}
          {#if mode == 1}
            <p>The more the better</p>
          {/if}
          {#if mode == 2}
            <p>Great, we need all the possible help</p>
          {/if}

        </div> -->
